        /* Events component */
        .event-container{
            box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 98%;
            min-height: 100px;
            margin:1.2%;
        }

        .event-container:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .events {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            color: black;
            padding: 2px 16px;
            border-top: 2px solid #ff9800;
        }

        .event-meta {
            height: 12.5%;
            display: flex;
            justify-content: space-between;
            font-size: 1.5em;
        }

        .event-title {
            text-transform: capitalize;
            letter-spacing: 0.1em;
            background-color:rgba(255,152,0,.05);
            color: #444;
        }
        .event-header{
            padding: 10px;
        }
        .event-audience-required{
            background-color: #d6f5a7;
            margin:5px;
        }
        .event-audience-optional{
            background-color: #fbf19f;
            margin:5px;
        }
        .event-details {
            padding: 10px;
            justify-self: flex-end;
            align-self: center;
            font-size: 0.65em;
        }

        .event-content-control {
            height: 81%;
            display: flex;
            /* justify-content: space-around; */
            padding: 15px;
        }

        .event-actions-required {
            height: 6.5%;
            display: flex;
            padding: 15px 5px 5px 5px;

        }

        .event-action{
            box-shadow:grey 0px 0px 5px 0px;
            border-radius: 18px;
            border: solid #f2f2f2 1px;
            padding: 3px 10px;
            margin:5px;
            cursor: pointer;             
        }

        .event-action:hover{
            box-shadow: grey 0px 0px 10px 0px;
        }

        .label-danger {
            background-color: #d9534f;
        }

        .label-success {
            background-color: #5cb85c;
        }

        .label-warning {
            background-color: #f0ad4e;
        }


        .event-actionbar {
            background-color: rgb(236, 236, 236);
            width:auto;
            height: 6%;
            position: -webkit-sticky;
  position: sticky;
  top: 0;
          }
          .add-event-icon{
            height:35px;
            width:35px;
            padding: 5px 20px;
            float: right;
          }
          .add-event{
            border-top: 2px solid #ff9800;
            box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 95.5%;
            height: "100px";
            margin: 1.2%;
            height: 560px;
            padding: 1.2%;
          }
        
          .add-event-icon:hover {
            cursor: pointer;
        }
        
        input[type=text], textarea {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }

        input[type=datetime-local] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
          }
        
        label{
          color: #F6891F;
          font-weight: bold;
          display: block;
          width: 200px;
          float: left;
        }
        
        input[type=submit],button {
          width: 5%;
          background-color: #4CAF50;
          color: white;
          padding: 10px 10px;
          margin: 8px 2px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        
        input[type=submit] {
          background-color: #4CAF50;
        }
        
        button {
          background-color: lightslategray;
        }
        
        input[type=submit]:hover {
          background-color: #45a049;
        }
        
        button:hover {
          background-color: gray;
        }




        .multiselect {
            width: 200px;
          }
          
          .selectBox {
            position: relative;
          }
          
          .selectBox select {
            /* width: 100%;
            font-weight: bold; */
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
          }
          
          .overSelect {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
          }
          
          #checkboxes {
            display: none;
            border: 1px #dadada solid;
          }
          
          #checkboxes label {
            display: block !important;
            font-weight: 300;
            width: 200px;
            float: inherit;
          }
          
          #checkboxes label:hover {
            background-color: #1e90ff !important;
          }
          .title{
            font-weight: 500;
            font-size: 1.3em;
            letter-spacing: -0.03em;
            color: #F6891F;
            margin-left: 10px;
            display: -webkit-inline-box;
            font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif
          }