.dashboard-actionbar {
    background-color: rgb(236, 236, 236);
    width:auto;
    height: 6%;
    position: -webkit-sticky;
     position: sticky;
     top: 0;
  }

  .title{
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: -0.03em;
    color: #F6891F;
    margin-left: 10px;
    display: -webkit-inline-box;
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif
  }